{% extends "base.html" %}
    {% block title %}
<h2 xmlns="http://www.w3.org/1999/html">Your Expenses</h2>
    {% endblock %}
        {% block content %}
        <div>
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                 {% for exp in expenses %}
                    <tr>
                        <th> {{ exp.name }} </th>
                        <th> {{ exp.price }} </th>
                        <th> {{ exp.created|date:"Y, M d"}}</th>
                        <th>
                             <btn>Modify</btn>
                        </th>
                         <th>
                             <btn>Delete</btn>
                        </th>

                    </tr>
            {% empty %}
                <li>It seems you have no expenses added yet.</li>
            {% endfor %}
                </table>
        </div>
            <hr>
            <h2>Add New Expense</h2>
          <form action="" method="POST">
            {% csrf_token %}
            {{form.as_ul}}
            <input type="submit" />
          </form>
        {% endblock %}