{% extends "base.html" %}
    {% block title %}
<h2 xmlns="http://www.w3.org/1999/html">Your Expenses</h2>
    {% endblock %}
        {% block content %}
        <div>
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Date</th>
                    </tr>
                 {% for exp in expenses %}
                    <tr>
                        <th> {{ exp.name }} </th>
                        <th> {{ exp.price }} </th>
                        <th> {{ exp.category }}</th>
                        <th> {{ exp.expense_date|date:"Y, M d"}}</th>
                        <th>
                             <a href="{% url 'expense-modify' exp.id %}">Modify</a>
                        </th>
                         <th>
                             <a href="{% url 'expense-remove' exp.id %}">Delete</a>
                        </th>

                    </tr>
            {% empty %}
                <li>It seems you have no expenses added yet.</li>
            {% endfor %}
                </table>
            <div>
                <p> Sum of your expenses: {{ exp_sum }} </p>
            </div>
        </div>
        <hr>
    <h2>Your Budgets</h2>
        <div>
                <table style="width:100%">
                    <tr>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                 {% for bdg in budgets %}
                    <tr>
                        <th> {{ bdg.amount }} </th>
                        <th> {{ bdg.category }}</th>
                        <th> {{ bdg.start_date|date:"Y, M d" }} </th>
                        <th> {{ bdg.end_date|date:"Y, M d"}}</th>
                        <th>
                             <a href="{% url 'budget-modify' bdg.id %}">Modify</a>
                        </th>
                         <th>
                             <a href="{% url 'budget-remove' bdg.id %}">Delete</a>
                        </th>

                    </tr>
                {% empty %}
                    <li>It seems you have no budget added yet.</li>
                {% endfor %}
                </table>
            <p> Sum of your budgets: {{ bdg_sum }} </p>
            <hr>
                {% for ctg, exp_per_ctg_sum, bdg_days, bdg_per_day in ctx_lst %}
                <div>

                    <p> Data for budget  <strong>{{ ctg.name }}</strong> : </p>
                    <p> Sum of expenses per category: {{ exp_per_ctg_sum }}</p>
                    <p> Budget days left : {{ bdg_days }}</p>
                    <p> Budget per day : {{ bdg_per_day }}</p>
                    <hr>
                </div>
                {% endfor %}
        </div>
        <hr>
            <h2>Add New Expense</h2>
          <form action="" method="POST">
            {% csrf_token %}
            {{form.as_ul}}
            <input type="submit" />
          </form>
        <hr>
            <div>
                <h2><a href="{% url 'add-budget' %}">Add budget</a></h2>
            </div>
        {% endblock %}